<!-- <div class="article-container">
  <div *ngIf="loading" class="loading">
    ⏳ Загрузка статьи...
  </div>

  <div *ngIf="error" class="error">
    ❌ {{ error }}
  </div>

  <div *ngIf="pageInfo && !loading" class="article-content">
    <h1 class="article-title">{{ pageInfo.largeName }}</h1>
    
    <div class="article-preview">
      {{ pageInfo.previewText }}
    </div>
    
    <div class="article-detail">
      {{ pageInfo.detailText }}
    </div>
    
    <div class="article-meta">
      <span class="article-id">ID: {{ pageInfo.id }}</span>
    </div>
  </div>
</div> -->
<p>ffdouugillllllll</p>
 <div class="displayer">
      <h2>Отображение JSON</h2>
      
      <div *ngIf="jsonData" class="json-container">
        <h3>Полученные данные:</h3>
        <pre class="json-content">{{ jsonData | json }}</pre>
        
        <div class="json-info">
          <p>Тип: {{ getType() }}</p>
        
        </div>
        
        <div *ngIf = "isKs" >

        </div>
         <div *ngIf ="isKnowledge">

        </div>
         <div *ngIf="isAction" >
          <div>



            
          </div>
        </div>
         <div *ngIf ="isSupport">

        </div>


      </div>
      
      <ng-template #noData>
        <div class="no-data">
          <p>Ожидание данных... JSON не получен</p>
        </div>
      </ng-template>
    </div>